<div class="container">
<div>'satish' in Uppercase: {{'satish' | uppercase  }}</div>
<div>'SATISH' in lowercase: {{'SATISH' | lowercase  }}</div>
<div>'satish konduru' in Title Case: {{'satish konduru' | titlecase  }}</div>
<div>emp object in JSON: {{emp | json}}</div>
<div>1234 number in Decimal: {{1234 | number : '1.2'}}</div>
<div>1234.56 number in Decimal : {{1234.56 | number}}</div>
<div>1234.567 number in Decimal : {{1234.565 | number : '3.1-2'}}</div>
<div>0.67 number in percentage: {{0.67 | percent}}</div>
<div>Date: {{todayDate | date}}</div>
<div>Date in dd/MM/YYYY : {{todayDate | date : 'dd/MM/YYYY'}}</div>
<div>Date in MM/dd/YYYY : {{todayDate | date : 'MM/dd/YYYY'}}</div>
<div>Short Date: {{todayDate | date: 'short'}}</div>
<div>Short Date : {{todayDate | date: 'shortDate'}}</div>
<div>Medium : {{todayDate | date: 'medium'}}</div>
<div>Medium Date: {{todayDate | date: 'mediumDate'}}</div>
<div>Long : {{todayDate | date: 'long'}}</div>
<div>Long Date: {{todayDate | date: 'longDate'}}</div>
<div>Full:  {{todayDate | date: 'full'}}</div>
<div>Full Date:  {{todayDate | date: 'fullDate'}}</div>
<div>Short Time  {{todayDate | date: 'shortTime'}}</div>
<div>Medium Time  {{todayDate | date: 'mediumTime'}}</div>
<div>Long Time  {{todayDate | date: 'longTime'}}</div>
<div>Full Time  {{todayDate | date: 'fullTime'}}</div>
<div>25000 in Currency: {{25000 | currency}}</div>
<div>25000 in Currency: {{25000 | currency: 'INR'}}</div>

</div>
