<mat-toolbar style="background-color: pink; color: blueviolet">
  <span>Angular 18 - Batch 27</span>
  <span class="mySpace"></span>
  <span><mat-icon>person</mat-icon></span>
</mat-toolbar>

<!-- <mat-toolbar style="background-color: whitesmoke; color: white; height: 50px">
  <span>

    <button
      mat-raised-button
      [routerLink]="'/course'"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Course Names
    </button>

    <button
      mat-raised-button
      [routerLink]="'/courseDetails'"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Course Details
    </button>
  </span>
</mat-toolbar> -->

<!-- <mat-toolbar
  style="background-color: lavenderblush; height: 30px; justify-content: right"
>
  <span><a routerLink="home" fragment="aboutus">About Us</a></span>
  <span><a routerLink="home" fragment="services">Services</a></span>
  <span><a routerLink="home" fragment="products">Products</a></span>
  <span><a routerLink="home" fragment="careers">Careers</a></span>
  <span><a routerLink="home" fragment="contactus">Contact Us</a></span>
</mat-toolbar> -->

<mat-toolbar style="background-color: bisque; color: #444; height: 50px;">
  <span>
    <button mat-raised-button [routerLink]="'/course'" routerLinkActive="active">Course Names</button>
    <button mat-raised-button [routerLink]="'/courseDetails'" routerLinkActive="active">Course Details</button>
  </span>
</mat-toolbar>
