<mat-toolbar style="background-color: pink; color: blueviolet">
  <span>Angular 18 - Batch 27</span>
  <span class="mySpace"></span>
  <span><mat-icon>person</mat-icon></span>
</mat-toolbar>

<mat-toolbar style="background-color: whitesmoke; color: white; height: 50px">
  <span>
    <!-- <button mat-raised-button routerLink="/course">Course Names</button> -->
    <button mat-raised-button [routerLink]="'/course'">Course Names</button>
    <!-- <button mat-raised-button routerLink="/courseDetails"> -->
    <button mat-raised-button [routerLink]="'/courseDetails'">
      Course Details
    </button>
  </span>
</mat-toolbar>
