<div style="display: flex; justify-content: center;">
  <p style="font-size: 25px; color:brown">Class Binding</p>
</div>
<mat-divider></mat-divider>

<!-- <div class="textColor">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et voluptate, eos facilis quibusdam reprehenderit nisi itaque harum rerum dicta nulla autem dolorem eius dignissimos repellat praesentium sapiente necessitatibus quod!
</div>
<div [class]="textColor">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam et voluptate, eos facilis quibusdam reprehenderit nisi itaque harum rerum dicta nulla autem dolorem eius dignissimos repellat praesentium sapiente necessitatibus quod!
</div>

<div [class]="textSize">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, repellat ex magnam natus nobis beatae.
</div>

<div [ngClass]="myClass">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia non adipisci aperiam quidem provident sit. Hic dolor officia, voluptas possimus odio commodi, eligendi libero iusto, ea natus harum veritatis voluptatibus!
</div> -->

<!-- <div [ngClass]="'textColor textSize'">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut ex architecto ullam nam dolorum consequatur aliquam atque, voluptas labore nostrum aliquid sed, minima modi magnam repellendus reiciendis qui, numquam itaque.
</div> -->

<!-- <div [ngClass]="['textColor', 'textSize']">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae pariatur labore reprehenderit magni odit ipsam officiis excepturi, dolore cum asperiores cumque molestiae? Praesentium laboriosam eum, tempora perferendis consequatur sed deserunt.
</div> -->
<!--
<div [ngClass]="{'textColor': false, 'textSize': true}">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vero totam veritatis ab culpa animi laudantium? Repellat quis laborum similique at, tempore animi. Pariatur facere facilis molestiae, vero ad delectus!
</div> -->


<div [ngClass]="{'textColor': 2+2, 'textSize': 10>20}">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vero totam veritatis ab culpa animi laudantium? Repellat quis laborum similique at, tempore animi. Pariatur facere facilis molestiae, vero ad delectus!
  </div>
