<!-- 1. Custom Element -->
<app-header></app-header>

<!-- 2. as an Attribute -->
<!-- <div app-header></div> -->

<!-- 3. as a value for Class property -->
<!-- <div class="app-header"></div> -->

<!-- 4. as a value for id property -->
<!-- <div id="app-header">
 </div> -->

<!-- <app-interpolation></app-interpolation> -->
<!-- <app-p-binding></app-p-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-temp-ref-variables></app-temp-ref-variables> -->
<!--
<app-two-way-data-binding></app-two-way-data-binding> -->
<!-- <app-if></app-if> -->
<!-- <app-switch-case></app-switch-case> -->
<!-- <app-for></app-for> -->
<!-- <app-sender></app-sender> -->

<!-- <app-view-child></app-view-child> -->
<!-- <app-parent></app-parent> -->
<!-- <app-array-methods></app-array-methods> -->

<!-- <app-content-parent>
  <app-content-child data="Satish Konduru">
    <h1 header1>Heading 1</h1>
    <p para1>Paragraph 1</p>
    <h3 foot1>Footer 1</h3>

    <h1 header2>Heading 2</h1>
    <p para2>Paragraph 2</p>
    <h3 foot2>Footer 2</h3>
  </app-content-child> -->
<!-- <app-content-child data1="Satish Konduru"></app-content-child>
  <app-content-child data2="Satish Konduru"></app-content-child>
  <app-content-child data="Satish Konduru"></app-content-child>
  <app-content-child data="Satish Konduru"></app-content-child> -->
<!-- </app-content-parent> -->
<!-- <app-topic></app-topic> -->

<router-outlet></router-outlet>
