<div class="container">
  <div class="card w-50 mt-3 mx-auto">
    <div class="card-header">Selected Course</div>
    <div class="card-body">
      <div><span class="text-dange">Id: </span> {{ myCourse.id }}</div>
      <div><span class="text-dange">Name: </span> {{ myCourse.name }}</div>
      <div><span class="text-dange">Tutor: </span> {{ myCourse.tutor }}</div>
    </div>
    <div class="card-footer">
      <button class="btn btn-outline-info" (click)="goBack()">Back</button>
      <button class="btn btn-outline-success" (click)="viewDetails()">
        View Course Details
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
