<app-topic [topicName]="topic"></app-topic>

<div class="container">
  <div
    class="card w-50 h-50 justify-content-center align-items-center mx-auto mt-3"
  >
    <app-child></app-child>
    <app-child></app-child>
    <app-child></app-child>
    <app-child></app-child>
    <!-- <button mat-raised-button class="w-100" (click)="accessChild()">
      Access Child
    </button> -->
    <button mat-raised-button class="w-100" (click)="accessChildren()">
      Access Child
    </button>
  </div>

  <h3>{{ childValue }}</h3>
</div>
